* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
    background: #ffffff;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.main-content {
    padding-top: 115px;
}
body {
    margin: 0;
    padding-top: 115px; /* Same as the header height */
}